h1 {font-family: 'Courier New', Courier, monospace;}
h1 {font-size: 18px;}
div {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}